body{
  margin:0;
  font-family:Tahoma;
  background-size:cover;
  background-position:center;
  height:100vh;
}

.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.form{
  background:rgba(255,255,255,0.8);
  padding:25px;
  border-radius:15px;
  width:500px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.form input{
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
}

.form button{
  padding:10px;
  border:none;
  background:#717d7d;
  color:white;
  border-radius:8px;
  cursor:pointer;
}